* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Lexend', sans-serif;
}

body {
  background-image: linear-gradient(oklch(0.21 0.006 285.885) 0%, oklch(0.141 0.005 285.823) 100%);
  height: 100vh;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 32px;
}

.score-table {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 176px;
}

.score-wins,
.score-losses,
.score-ties {
  font-size: 100px;
  font-weight: 500;
}

.game-container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  text-align: center;
}

.game-mini-title {
  font-weight: 100;
}

.game-subtitle {
  font-weight: 300;
}

.game-input-container {

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.move-button {
  padding-top: 8px;
  padding-bottom: 8px;
  width: 200px;
  border-radius: 99px;
  border: none;

  font-size: 24px;
  font-weight: 200;

  transition: transform .4s ease;
  cursor: pointer;
}

.move-button:hover {
  transform: scale(1.05);
  filter: brightness(105%);
}

.move-button:active {
  opacity: 0.6;
}

.rock-button {
  background-color: rgba(255, 166, 0, 0.1);
  border: 1px solid rgb(255, 191, 0);
  color: rgb(255, 191, 0);
  box-shadow: rgba(255, 191, 0, 0.16) 0px 2px 8px 0px;
}

.paper-button {
  background-color: rgba(255, 0, 60, 0.1);
  border: 1px solid rgb(255, 0, 60);
  color: rgb(255, 0, 60);
  box-shadow: rgba(254, 65, 110, 0.16) 0px 2px 8px 0px;
}

.scissors-button {
  background-color: rgba(0, 157, 255, 0.1);
  border: 1px solid rgb(0, 157, 255);
  color: rgb(0, 157, 255);
  box-shadow: rgba(0, 157, 255, 0.16) 0px 2px 8px 0px;
}

.game-result-container {
  font-size: 16px;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 176px;
}

.player-move-container,
.computer-move-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.move-title {
  font-size: 24px;
  font-weight: 500;
}

.player-move,
.computer-move {
  font-weight: 200;
  font-size: 24px;
}